@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    background-image: url(https://images.unsplash.com/photo-1648737155328-0c0012cf2f20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    margin: 10px auto 10px auto;
    background-color: rgba(192, 192, 192, 0.8);
    height: 60px;
    padding-top: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 100%;
    max-width: 700px;
}

.contenedor {
    margin: auto;
    width: 98%;
    max-width: 700px;
}

article {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(192, 192, 192, 0.8);
    border-radius: 5px;
}

p {
    line-height: 2em;
}

#parrafo {
    color: brown;
    background-color: white;
    line-height: 2em;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
    background-color: #008F8C;
    color: white;
}

tr:nth-child(odd) {
    background-color: white;
    color: black;
}

tr,
th {
    border: 1.5px solid #008F8C;
    height: 60px;
}

img {
    width: 60px;
}

input[type="file"] {
    padding: 5px;
    background-color: #008F8C;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#texto,
#exportar {
    padding:3px 8px;
    background-color:#008F8C;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    color: white;
    line-height: 2em;
}
#texto{
    background-color: white;
    color: black;
}